.icon-48-cosn_codes {
      background-image: url(../images/l_cosn_codes.png);
      padding-left:60px!important;
}

.icon-48-cosn_code {
      background-image: url(../images/l_cosn_codes.png);
      padding-left:60px!important;
}

.color-box-cosn_codes { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}